:root {
  --gray-border-1: #dcdcdc;
  --gray-base-1: #717171;
  --red-base-1: #c40000;
  --red-base-2: #9f0000;
  --text-purple-1: #1f1283;
  --text-purple-2: #695ccd;
  --bg-purple-light: #f4f2ff;
  --bg-purple-1: #1c1930;
}
