input {
  background-color: white;
  border: 1px solid var(--gray-base-1);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

input[aria-invalid="true"] {
  border-color: var(--red-base-1);
  color: var(--red-base-1);
}
